@model User

<h2><i class="fa fa-user"></i> <a asp-controller="User" asp-action="Index">Users</a> <i class="fa fa-arrow-right" aria-hidden="true"></i> Create user</h2>

<div asp-validation-summary="All" class="errormsg">@ViewBag.Error</div>

<div id="container">
    <div id="form">
        <form method="post">
            <div class="row">
                <div class="col-25">
                    <label asp-for="Username"></label> <span class="mandatory">*</span>
                </div>
                <div class="col-75">
                    <input asp-for="Username" required />
                </div>
            </div>
            <div class="row">
                <div class="col-25">
                    Role(s)
                </div>
                <div class="col-75">
                    @if (ViewBag.AllRoles != null)
                    {
                        @foreach (var item in ViewBag.AllRoles)
                        {
                            @if (ViewBag.SA_Editable)
                            {
                                <input type="checkbox" class="checkmark" name="selectedRoles" value="@item.Name" />
                                @item.Name<br />
                            }
                            else if (ViewBag.A_Editable)
                            {
                                <input type="checkbox" class="checkmark" name="selectedRoles" value="@ViewBag.LA" />
                                @ViewBag.LA<br />
                                break;
                            }
                        }
                    }
                </div>
            </div>
            <div class="row">
                <div class="col-25">
                    <label asp-for="Firstname">First name</label>
                </div>
                <div class="col-75">
                    <input asp-for="Firstname" />
                </div>
            </div>
            <div class="row">
                <div class="col-25">
                    <label asp-for="Lastname">Last name</label>
                </div>
                <div class="col-75">
                    <input asp-for="Lastname" />
                </div>
            </div>
            <div class="row">
                <div class="col-25">
                    <label asp-for="Email"></label><span class="mandatory">*</span>
                </div>
                <div class="col-75">
                    <input asp-for="Email" type="email" required />
                </div>
            </div>
            <div class="row">
                <div class="col-25">
                    <label asp-for="Phonenumber">Phone number</label>
                </div>
                <div class="col-75">
                    <input asp-for="Phonenumber" />
                </div>
            </div>
            <div class="row">
                <div class="col-25">
                    <label asp-for="Password"></label><span class="mandatory">*</span>
                </div>
                <div class="col-75">
                    <input asp-for="Password" required />
                </div>
            </div>
            <button type="submit" class="btn-a">Create</button>
        </form>
    </div>
</div>
<p>
    <i class="fa fa-arrow-left fa-lg"></i> <a asp-action="Index"><b>Go back</b></a>
</p>